<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get a Quote</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")     <!-- many libraries are dependant of jquery to run -->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)      <!-- so Razer allows you to render a script for a specific View, it does it after other scripts, that is why it is down below -->
</body>
</html>
